<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.jqpv.admin.mapper.CityMapper">-->

<!--&lt;!&ndash;    public void insert(City city);&ndash;&gt;-->
<!--&lt;!&ndash;    <insert id="insert" useGeneratedKeys="true" keyProperty="id">&ndash;&gt;-->
<!--&lt;!&ndash;        insert into city(`name`,`state`,`country`) values(#{name},#{state},#{country})&ndash;&gt;-->
<!--&lt;!&ndash;    </insert>&ndash;&gt;-->
<!--</mapper>-->